<%= params[:mother_name] %>
<hr>
<%= @mother.inspect %>
<hr>
<%= form_with(model: litter, local: true) do |form| %>
  <% if litter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(litter.errors.count, "error") %> prohibited this litter from being saved:</h2>

      <ul>
      <% litter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <%= form.hidden_field :mother_id, value: litter.mother_id %>  

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="field">
    <%= form.label :main_image %>
    <%= form.text_area :main_image %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
