<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4 image">
    <%= image_tag @litter.main_image, class:'image'%>
  </div>
  <div class="col-md-8 about">
    <p><%= @litter.about %></p>
  </div>
</div>

<hr>
<% @litter.puppies.each do |puppy| %>
  <div class="row">
    <div class="col-md-4 image">
      <%= link_to (image_tag puppy.image_one, class:'image'), puppy_path(puppy.id) %>
    </div>
    <div class="col-md-8 about">
      <p><%= puppy.about %></p>
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_litter_path(@litter) %> |
<%= link_to 'Back', litters_path %>
