<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @litter.date %>
</p>

<p>
  <strong>About:</strong>
  <%= @litter.about %>
</p>

<p>
  <strong>Main image:</strong>
  <%= image_tag @litter.main_image %>
</p>

<p>
  <strong>Image one:</strong>
  <%= @litter.image_one %>
</p>

<p>
  <strong>Image two:</strong>
  <%= @litter.image_two %>
</p>

<hr>
<% @litter.puppies.each do |puppy| %>
  <hr>
  <%= link_to (image_tag puppy.image_one), puppy_path %>
  <%= puppy.about %>
  <% end%>
<hr>

<%= link_to 'Edit', edit_litter_path(@litter) %> |
<%= link_to 'Back', litters_path %>
