<%= form_with(model: mother, local: true) do |form| %>
  <% if mother.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mother.errors.count, "error") %> prohibited this mother from being saved:</h2>

      <ul>
      <% mother.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <div class="col-md-2">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="col-md-6">
      <%= form.label :about %>
      <%= form.text_area :about, rows: 8, class: 'form-control'  %>
    </div>
    <br>
    <div class="form-control-file">
      <%= form.file_field :main_image %>
    </div>
    <br>    
    <%= form.submit %>
  </div>
<% end %>