<%= form_with(model: mother, local: true) do |form| %>
  <% if mother.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mother.errors.count, "error") %> prohibited this mother from being saved:</h2>

      <ul>
      <% mother.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="field">
      <%= form.label :name %>
      <%= form.text_area :name %>
    </div>

    <div class="field">
      <%= form.label :about %>
      <%= form.text_area :about %>
    </div>

    <div class="form-group">
    <%= form.file_field :main_image %>
    <%= form.file_field :image_one %>
    <%= form.file_field :image_two %>
  </div>

    <%= form.submit %>
  </div>
<% end %>
